body{
	overflow-y : hide;
	overflow-x : hide;
	margin:0;
	border:0;
	background-color: #ebf2f5;

}
.module_butt{
	font-family:'black';	
	font-size: 14px;
	color: #ffffff;
	border-radius:7px;
	height:32px;
	width: 90px;
	border:1px solid #979797;
	margin-right:15px;
	background-color: #51B1F2;
	outline: none;
}